html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.fullscreen-map {
  height: 100%;
  width: 100%;
}

.footnote {
  position: absolute;
  bottom: 0;
  left: 80px;
  z-index: 4;
  font-family: Roboto, Arial, sans-serif;
  font-size: 10px;
  line-height: 13px;
  color: #000;
  background-color: rgba(255,255,255,0.8);
  padding: 0 3px;
  display: table-row;
}

.footnote a {
  color: #000;
}
